<div class="row interface">
  <div class="col-md-12">
    <div class="container">
        <div class="panel panel-primary">
          <div class="panel-heading">Code Test</div>
          <div class="panel-body">   
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <div class="row">
                      <div class="col-lg-2">
                          <div class="form-group">
                            <label for="PitchId">Pitch Id</label>
                            <input type="email" class="form-control" id="PitchId"
                                    placeholder="Pitch Id">
                          </div>
                      </div>
                      <div class="col-lg-4">
                          <div class="form-group">
                            <label for="from">Starts Date</label>
                            <input type="text" class="form-control" id="from" placeholder="Starts">
                          </div>                        
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label for="to">Starts Date</label>
                          <input type="text" class="form-control" id="to" placeholder="Starts">
                        </div>                          
                      </div>
                      <div class="col-lg-2">
                        <div class="form-group">
                          <label for="search"></label>
                          <br>
                          <button type="button" class="btn btn-default" id="search">
                            <span class="glyphicon glyphicon-search"></span> Search
                          </button>
                        </div>                           
                      </div>
                    </div>
                </div>
              
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Slot Id #</th>
                      <th scope="col">Start Date</th>
                      <th scope="col">Duration</th>
                      <th scope="col">Price in GBP</th>
                      <th scope="col">Converted price in EUR</th>
                      <th scope="col">Availabilities</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                      <td>@mdo</td>
                      <td>@mdo</td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
        </div>
      </div>
  </div>
</div>
